* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 1.1rem;
	font-family: Roboto, sans-serif;
}

.banner {
	width: 100%;
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-image: url(../images/hero-bg.jpg);
	padding: 18% 70px 10%;
	color: white;
}

.header h3 {
	font-size: 2rem;
	cursor: pointer;
}

.header {
	width: 100%;
	height: 70px;
	background-color: #f2f2f2;
	display: flex;
	padding: 0 30px;
	justify-content: space-between;
	align-items: center;
	color: rgb(51, 51, 51);
	top: 0%;
	position: sticky;
}

.header2 {
	width: 100%;
	height: 70px;
	background-color: white;
	display: flex;
	padding: 0 50px;
	justify-content: space-between;
	align-items: center;
	color: rgb(51, 51, 51);
}

.header2>img {
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.header2 .hamburger-menu {
	width: 24px;
	height: 24px;
	display: flex;
	cursor: pointer;
	flex-direction: column;
}

.header2 .hamburger-menu hr {
	height: 4px;
	background-color: black;
	border: none;
	margin: 0px 0px 3px;
}

.responsive img {
	width: 36px;
	height: 36px;
	margin-right: 5px;
	cursor: pointer;
}

.cancel {
	font-size: 20px;
	cursor: pointer;
	color: rgb(128, 128, 128);
}

.text-1 {
	font-size: 50px;
	font-weight: 50;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-style: normal;
	line-height: 60px;
}

.text-2 {
	font-size: 5.875rem;
	/* font-family: "Archivo Black"; */
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: solid white 10px;
	width: fit-content;
}

.banner-text {
	margin-top: 0px;
	width: fit-content;
	z-index: 10;
}

.icon-container {
	display: flex;
	justify-content: space-between;
	padding: 40px 10px;
	margin-bottom: 40px;
}

.icon-1 img {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}

.about-section {
	background-color: #f2f2f2;
	padding: 130px 0px 0px;
}

.sm-text {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 1.125rem;
	/* margin: 130px 0px 0px; */
	color: #999999 !important;
}

.lg-text {
	margin: 20px auto 0;
	font-weight: 700;
	font-size: 3.125rem;
	width: 780px;
}

.about-section .article {
	font-size: 1.05rem;
	font-weight: 300;
	width: 780px;
	margin: 30px auto 0;
}

.btn {
	background-color: rgb(231, 26, 35);
	color: white;
	outline: 0px;
	border: none;
	padding: 15px;
	border-radius: 3px;
	font-size: 0.8rem;
	margin: 30px 0px 60px;
}

.need {
	width: 100%;
	padding: 40px 15%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	flex: 1;
}

.need-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 10px 20px;
}

.need-left {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 10px 20px;
}

.img {
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/billionphotos1882993.jpg);
}

.img1 {
	height: 350px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/billionphotos1883011.jpg);
}

.text {
	margin: 20px 60px;
	font-size: small;
}

.need-right h1 {
	font-size: 2.3rem;
	margin-bottom: 20px;
	font-weight: 600;
	margin-top: 40px;
}

.need-right p {
	font-size: 1.7rem;
	color: red;
	font-weight: 600;
	margin-bottom: 50px;
}

.quality-section {
	background-color: rgb(216, 214, 219);
}

.quality {
	width: 80%;
	display: flex;
	/* padding: 20px 10%; */
	justify-content: center;
	margin: 0 auto;
}

.left-quality {
	padding: 30px 40px;
	width: 100%;
	background-position: 50% 0%;
	background-size: cover;
	min-height: 658px;
	background-repeat: no-repeat;
	background-image: url(../images/billionphotos1079319min.png);
}

.right-quality {
	padding: 30px 40px;
}

.right-quality h1 {
	font-size: 4.5rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	margin: 135px 0 0;
	color: rgb(16, 78, 146);
}

.divider {
	width: 100%;
	height: 10px;
	margin: 30px 0 0;
	background-color: rgb(231, 26, 35);
}

.right-quality p {
	font-size: 1.25rem;
	margin: 30px 0 0;
}

.svg-bg {
	background-color: rgb(231, 26, 35);
	width: 83px;
	height: 83px;
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.icon-2 {
	width: 47px;
	height: 47px;
}

.our-services>h1 {
	font-size: 3.125rem;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 700;
	margin: 60px 10% 10px;
}

.services-container {
	display: flex;
	width: 80%;
	margin: 0px auto;
}

.services {
	padding: 30px;
	margin-bottom: 20px;
}

.services h1 {
	font-weight: 700;
	margin: 20px 0 0;
}

.services p {
	font-size: 1.05rem;
	font-style: italic;
	margin: 20px 0 0;
	font-weight: 300;
}

.plumbing-services-section {
	width: 100%;
	background-color: rgb(16, 78, 146);
	padding: 10% 0px 10%;
}

.plumbing-services {
	width: 90%;
	margin: 0 auto;
	display: flex;
	/* flex-wrap: wrap; */
	flex: 1;
	color: white;
	justify-content: center;
}

.plumbing-left {
	width: 100%;
}

.plumbing-right {
	width: 100%;
}

.plumbing-left h1 {
	font-size: 5.5rem;
	line-height: 1;
	margin: 10px 0 0;
}

.top,
.bottom {
	display: flex;
	width: 80%;
	flex-direction: row;
}

.pics4 {
	Width: 100%;
	height: 200px;
	margin: 10px;
	background-image: url(../images/billionphotos1882951.jpg);
	background-size: cover;
}

.pics3 {
	Width: 100%;
	height: 200px;
	margin: 10px;
	background-size: cover;
	background-image: url(../images/billionphotos1882993.jpg);
}

.pics1 {
	Width: 100%;
	height: 200px;
	margin: 10px;
	background-size: cover;
	background-image: url(../images/rg.jpg);
}

.pics2 {
	Width: 100%;
	height: 200px;
	background-size: cover;
	margin: 10px;
	background-image: url(../images/frg.jpg);
}

.plumbing-right {
	display: flex;
	flex-direction: column;
}

.container {
	padding: 30px;
	max-width: 75%;
}

.container h1 {
	font-size: 2.25rem;
	line-height: 1.1;
	font-weight: 700;
}

.container>p {
	font-size: 20px;
	font-weight: 100 !important;
	margin: 30px 0 30px;
	color: rgb(17, 17, 17);
}

.action {
	padding: 6% 0 5%;
}

.btnr {
	background-image: none;
	color: #ffffff !important;
	background-color: hsl(357, 81%, 45%) !important;
	border-color: #d1161e;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75rem;
	font-weight: 600;
	border-style: solid;
	margin: 0 5px 0 auto;
	padding: 16px 36px;
}

.btnw {
	background-image: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75rem;
	font-weight: 600;
	border-style: solid;
	margin: 0 0 0 5px;
	padding: 16px 36px;
}

footer {
	background-color: rgb(51, 51, 51);
	color: white;
	font-size: 5px;
	padding: 5% 0;
}

footer p {
	font-size: 12px !important;
	margin-bottom: 10px;
}

footer a {
	color: rgb(129, 195, 215);
	font-size: 12px;
}




@media (max-width: 770px) {
	.need {
		display: flex;
		flex-direction: column !important;
		padding: 40px 5%;
	}
	.quality {
		width: 90%;
		display: flex;
		/* padding: 20px 10%; */
		justify-content: center;
		margin: 0 auto;
	}
	.left-quality {
		padding: 30px 50px;
		/* width: 100%; */
		background-position: 50% 0%;
		background-size: cover;
		min-height: 658px;
		background-repeat: no-repeat;
		background-image: url(../images/billionphotos1079319min.png);
	}
	.right-quality {
		padding: 30px 40px;
	}
	.plumbing-services {
		flex-direction: column;
	}
	.top,
	.bottom {
		width: 100%;
	}
	.pics1,
	.pics2,
	.pics3,
	.pics4 {
		width: 100%;
	}
	.banner {
		width: 100%;
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-image: url(../images/hero-bg.jpg);
		background-position: center right;
		padding: 18% 50px 10%;
		color: white;
	}
	.banner-text {
		margin-top: 330px;
		width: fit-content;
		z-index: 10;
	}
}

@media (max-width: 480px) {
	.lg-text {
		width: 100%;
	}
	.quality {
		flex-direction: column;
	}
	.right-quality {
		padding: 30px 10px;
	}
	.services-container {
		flex-direction: column;
	}
	.plumbing-left h1 {
		font-size: 3rem;
		line-height: 1;
		width: 100%;
		margin: 10px 0 0;
	}
	.right-quality h1 {
		font-size: 3rem;
		font-weight: 700;
		text-transform: uppercase;
		font-family: Roboto, sans-serif;
		margin: 135px 0 0;
		color: rgb(16, 78, 146);
	}
	.about-section .article {
		font-size: 1.05rem;
		font-weight: 300;
		width: 80%;
		margin: 30px auto 0;
	}
	.top,
	.bottom {
		width: 100%;
		flex-direction: column;
	}
	.text-1 {
		font-size: 32px;
		font-weight: 50;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-style: normal;
		line-height: 60px;
	}
	.btnr,
	.btnw {
		margin: 20px 0px;
	}
	.text {
		margin: 20px 0px;
		font-size: small;
	}
	.text-2 {
		font-size: 3rem;
		/* font-family: "Archivo Black"; */
		font-weight: 700;
		padding-bottom: 15px;
		border-bottom: solid white 10px;
		width: fit-content;
	}
	.icon-container {
		display: none;
	}
	.banner-text {
		margin-top: 430px;
		width: fit-content;
		z-index: 10;
	}
	.responsive {
		display: none;
	}
	.banner {
		width: 100%;
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
		background-image: url(../images/hero-bg.jpg);
		background-position:50% 47%;
		padding: 18% 20px 10%;
		color: white;

	}
}
